{% extends "base.html" %}
{% block title %}Contraseña Actualizada{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header bg-info text-white text-center">
          <h5 class="m-0">¡Contraseña Actualizada!</h5>
        </div>
        <div class="card-body text-center">
          <p class="lead">Tu contraseña se ha cambiado correctamente 🔒</p>
          <a href="{% url 'login' %}" class="btn btn-info">
            <i class="fas fa-sign-in-alt mr-2"></i> Volver al Login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
