<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'sistema:logout' %}">
        <i class="fas fa-fw fa-sign-in-alt"></i>
        <span>Cerrar Sesión</span>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Sistema
</div>

<!-- Nav Item - Acerca de -->
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fas fa-fw fa-info-circle"></i>
        <span>Acerca del Sistema</span>
    </a>
</li>